{% load static %}

<header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="{% url 'home:main' %}">
          <img src="{% static 'images/logo.png' %}" alt="">
          <span>
            {{ info_school.special_name }}
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home:main' %}"> Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'home:main' %}"> About </a>
              </li>

              <li class="nav-item ">
                <a class="nav-link" href="{% url 'home:main' %}"> Teacher </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:main' %}"> vehicle </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:main' %}">Contact Us</a>
              </li>

            </ul>
            {% comment %} <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
            </form> {% endcomment %}
          </div>
      </nav>
    </div>
  </header>
  <section class="hero_section ">
    <div class="hero-container container">
      <div class="hero_detail-box">
        <h3>
          {{ info_school.welcome_message }}
        </h3>
        <h1>
          {{ info_school.education_center_name }}
        </h1>
        <p>
          {{ info_school.description }}
        </p>
        <div class="hero_btn-continer">
          <a href="" class="call_to-btn btn_white-border">
            <span>
              Contact
            </span>
            <img src="{% static 'images/right-arrow.png' %}" alt="">
          </a>
        </div>
      </div>
      <div class="hero_img-container">
        <div>
          <img src="{{ info_school.image.url }}" alt=""
           style="width: 630px; height: 470px; margin-right: auto; margin-left: 29px; margin-top: 0px; " 
           class="img-fluid">
        </div>
      </div>
    </div>
  </section>
</div>