{% load static %}

{% comment %} <section class="landing_section layout_padding">
    <div class="container">
      <h2 class="main-heading">
        Free Multipurpose Responsive

      </h2>
      <h2 class="main-heading number_heading">
        Landing Page 2019

      </h2>
      <p class="landing_detail text-center">
        There are many variations of passages of Lorem Ipsum available, but the majority There are many variations of
        passages of Lorem Ipsum available, but the majority h
        
      </p>
    </div>
  </section> {% endcomment %}
